.DS_Store
**/.venv/*
workspaces/quarto_basic/.quarto/*
workspaces/quarto_basic/quarto_basic_files/*
workspaces/quarto_basic/quarto_basic.html
workspaces/basic-rmd-file/basicRmd_cache/*
workspaces/basic-rmd-file/basicRmd_files/*
workspaces/basic-rmd-file/basicRmd.html
workspaces/basic-rmd-file/.gitignore
workspaces/quarto_interactive/.quarto/*
workspaces/quarto_interactive/quarto_interactive_files/*
workspaces/quarto_interactive/quarto_interactive.html
workspaces/quarto_shiny/mini-app_files/*
workspaces/quarto_shiny/mini-app.html