et-xmlfile
numpy
openpyxl
pandas
pyarrow
python-dateutil
pytz
six
tzdata
polars
faicons
shiny
shinywidgets
plotly==5.24.1
ridgeplot
ipyleaflet
ipywidgets
bqplot
ipydatagrid
ipympl
ipytree
leafmap
matplotlib
streamlit-aggrid
streamlit
click
bokeh
altair
hvplot
graphviz
pydot
vetiver
great-tables
gradio==5.14.0
fastapi
dash
flask
seaborn
nbformat
nbclient
torch