# Copy this file to .env and fill in the values

# Postgres credentials (from 1Password: Positron > E2E Postgres DB Connection info)
E2E_POSTGRES_USER=
E2E_POSTGRES_PASSWORD=
E2E_POSTGRES_DB=

# Password for the 'user1' account in Workbench (choose your own)
WB_PASSWORD=
